/*Criamos esse arquivo para resetar estilos criados por padrão no html/ navegador*/
/*Seletor "*" -> seletor global que pega todos os elementos <tags>, vai colocar regras
de estilos em todos. Para resetar! */
* {   /*espaçamentos internos. tirar a margem de todos os elementos*/ 
    margin: 0; /*espaçamento externo do elemento*/
    padding: 0; /*espaçamento interno do elemento*/
    box-sizing: border-box;/**/
}

ul { /*tag de lista. Tirar o list style*/
    list-style: none; /*tira as bolinhas das listas*/
}


   



